  <div class="alert alert-danger" ng-show="page_load_error"> <h4 style="color: #aaaaaa">{{ failuremessage }}</h4></div>
  <div class="alert alert-success" ng-show="loggedOut"> <h4 style="color: #aaaaaa">{{ successmessage }}</h4></div>
  <div ng-show="!finished_loading"><h4 style="color: #aaaaaa"> login ... please wait a moment </h4></div>

  <div class="panel panel-default" ng-show="!loggedIn">
    <h3 style="margin-top: 50px">Login</h3>
  <div class="panel-heading">
    <input type="text" placeholder="Username" size="30" ng-model="user.username"/>
    <div class="recipename" >
      <input type="password" placeholder="enter password" size="30" ng-model="user.password"/>
    </div>
  </div>
  <div class="panel-body">
    <button ng-click="login(user)" type="button" class="btn btn-success">Login</button>
  </div>
  </div>
  <div class="panel panel-default" ng-show="loggedIn">
      <div class="panel-heading">User logged in successful</a></div>
      <div class="panel-body">{{ user.username }}</div>
      <div class="panel-body">{{ successmessage }}</div>
      <div class="panel-heading">
      <h3 style="margin-top: 50px">User Profile</h3>
    </div>
        <div class="panel-body">id: {{UserId}}</div>
        <div class="panel-body">username: {{username}}</div>
        <div class="panel-body">password: {{password}}</div>
    <div class="panel-body"><a href ng-click="logout(user)">logout</a></div>
  </div>
